---
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import { Image } from "astro:assets";
import hikeImage from "/src/assets/images/hike_image.svg";
---
<BaseLayout>
  
  <div class="flex">
    <Image src={hikeImage} alt="hiking person"decoding="async"
    loading="lazy" width="256" height="256" class="image-hike" />
  </div>
  
  <Article id="about" title="About">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio ut, beatae culpa perferendis voluptates sit facilis, aut illum, dolorem atque voluptatibus. Explicabo quas rerum voluptates, obcaecati repudiandae temporibus facilis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio ut, beatae culpa perferendis voluptates sit facilis, aut illum, dolorem atque voluptatibus. Explicabo quas rerum voluptates, obcaecati repudiandae temporibus facilis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio ut, beatae culpa perferendis voluptates sit facilis, aut illum, dolorem atque voluptatibus. Explicabo quas rerum voluptates, obcaecati repudiandae temporibus facilis!</p>
  </Article>
  <Article id="skills" title="Skills">
    <div class="text-center">
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" />
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ngrx/ngrx-original.svg" />
      <img class="skill-button" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ionic/ionic-original.svg" />
    </div>
  </Article>
  <Article id="blogs" title="Blogs">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio ut, beatae culpa perferendis voluptates sit facilis, aut illum, dolorem atque voluptatibus. Explicabo quas rerum voluptates, obcaecati repudiandae temporibus facilis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio ut, beatae culpa perferendis voluptates sit facilis, aut illum, dolorem atque voluptatibus. Explicabo quas rerum voluptates, obcaecati repudiandae temporibus facilis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio ut, beatae culpa perferendis voluptates sit facilis, aut illum, dolorem atque voluptatibus. Explicabo quas rerum voluptates, obcaecati repudiandae temporibus facilis!</p>

  </Article>


</BaseLayout>


<style>
  .image-hike {
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-center {
    text-align: center;
  }

  .skill-button {
    margin: 0.5rem;
    height: 4rem;
    width: 4rem;
  }
</style>