---
// import ThemeIcon from "./ThemeIcon.astro"
---

<div>
    <a class="header-link" href="#about">ABOUT</a>
    <a class="header-link" href="#blog">BLOG</a>
    <a class="header-link" href="#skills">SKILLS</a>
</div>

<style>
    a {
        text-decoration: none;
        color: var(--text-color);
    }

    .header-link {
        margin-right: 1rem;
        font-weight: bold;
    }
</style>