---
---

<div>
    <a class="header-link" href="/">ABOUT ME</a>
    <a class="header-link" href="/portfolio">PORTFOLIO</a>
    <!-- <a class="header-link" href="/blog">BLOG</a> -->
</div>

<style>
    a {
        text-decoration: none;
        color: var(--text-color);
    }

    .header-link {
        margin-right: 1rem;
        font-weight: bold;
    }

    .header-link:hover {
        /* color: var(--primary-color);
         */
         text-decoration: underline;
    }
</style>