---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Konupka.dev</title>
    <link rel="stylesheet" href="/src/styles/global.css">
		<link rel="icon" type="image/png" href="/favicon.png" />
    <meta charset="utf-8">
    <meta name="description" content="Konupka.dev is a personal blog and portfolio site for web developer and Angular developer, Jaromir Konupka.">
    <meta name="keywords" content="web developer, portfolio, blog, web development, web design, front-end developer, angular developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <div class="container">
        <slot />
    </div>
    <Footer />
  </body>
</html>

